/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: url();
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

#wrapper {
  width: 100%;
  margin: auto;
  padding: 0;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
}

header a {
  text-decoration: none;
}

nav {
  background-color: #222;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 1px 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #333;
  border-radius: 5px;
}

.hero {
  text-align: center;
  padding: 20px;
}

.hero h1 {
  text-align: left;
}

.hero img {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 0;
}

.hero-board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245, 0.9);
  padding: 20px;
  width: fit-content;
  margin-top: -200px;
  z-index: 10;
}

.hero-board p {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #141414;
}

.p-title {
  font-size: 28px;
}

.hero-board img {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

.hero a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.container-div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.upgrades {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  text-align: center;
}

.upgrades h2 {
  width: 100%;
  text-align: left;
}

.upgrade-item-div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  width: auto;
}

.upgrade-item {
  background-color: #00a3e0;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  width: auto;
  height: 130px;
}

.upgrade-item img {
  width: auto;
  height: 100px;
}

.upgrade-item a {
  display: block;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
}

.reviews {
  width: 100%;
  max-width: 400px;
}

.reviews h2 {
  text-align: left;
}

.reviews ul {
  list-style-type: disc;
  padding-left: 20px;
}

.reviews ul li {
  padding: 10px;
}

footer {
  text-align: left;
  padding: 10px;
  background-color: #fff;
  color: #000;
}

.siteName {
  font-size: 1.5em;
  font-weight: bold;
}

.inv-display {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-evenly;
  text-align: center;
}
@media (min-width: 768px) {

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url(/images/site/small_check.jpg);
  }

  .container-div {
    flex-direction: row;
    align-items: flex-start;
  }

  #wrapper {
    background-color: white;
    width: 90%;
    margin: 50px auto;
    padding: 5px;
    border: 5px solid blue;
    border-radius: 20px;
  }

  .reviews,
  .upgrades {
    flex-direction: row;
    align-items: center;
    width: 50%;
  }

  .upgrade-item-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: auto;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
  }

  nav ul li {
    margin: 0 10px;
  }

  .inv-display {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    text-align: center;
  }

}