
<% if (message) { %>
    <div class="flash-message"><%= message %></div>
  <% } %>
  
  <h1>Inventory Management</h1>
  <p>Manage classifications and inventory items below:</p>
  
  <ul>
    <li><a href="/inv/add-classification" title="Add a new classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory" title="Add a new inventory item">Add New Inventory Item</a></li>
  </ul>